/* Morgan VandeRiet */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root{
    font-size: 20px;
    --fonts: Molle, Montserrat;
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: var(--fonts);
    color: var(--dune);
    box-sizing: border-box;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;

}

.main article {
    display: grid;
}

main, footer {
    padding: 20px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* skip link styles from: https://webaim.org/techniques/css/invisiblecontent/ */
#skip{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
 
#skip:focus{
  position: static;
  width: auto;
  height: auto;
}

h1, h2, h3 {
    font-family: "Molle", serif;
}

h4, p, q, small, nav, button, form {
    font-family: "Montserrat", serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.17em;
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    font-size: 1em;
}

p {
    padding-top: 5px;
    line-height: 1.7;
}

#intro p {
    padding-bottom: 15px;
}

header{
    background-image: linear-gradient(var(--teal), var(--white));
    padding: 20px;
}

#menuToggle input:checked ~ ul {
    display: none;
}

.sr-only {
    display: none;
}

/* Majorca images */
#img-grid img {
    padding-bottom: 20px;
    width: 100%;
}

/* Plan Your Trip section */
#plan {
    background-color: var(--yellow);
    display: grid;
    place-items: center;
    padding-bottom: 30px;
}

#plan div {  
    display: grid;
    place-items: center;
    background-color: var(--teal);
    margin-bottom: 10px;
    border: 5px solid var(--white);
    border-radius: 10px;
    width: 300px;
    height: auto;
}

#plan h3, #testimonials h3, #contactUsHeading {
    font-size: 40px;
}

#planYourTripHeading {
    background-color: var(--yellow);
    font-size: 40px;
    padding-left: 60px;
    padding-top: 20px;
}

#plan h4 {
    padding-bottom: 5px;
    padding-top: 15px;
    font-weight: bold;
}

#plan img {
    height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Testimonials section */
#testimonials {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: -1;
}

#testimonialsHeading {
    background-color: var(--white);
    font-size: 40px;
    padding-left: 30px;
    padding-top: 20px;
}

#testimonials h3 {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}

#testimonials h4 {
    padding-top: 15px;
    font-size: 35px;
    font-weight: bold;
}

q {
    font-style: italic;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
}

/* Contact Form section */
.form-required {
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-style: italic;
}

.required  {
    color: var(--purple);
}

.radio-input{
  accent-color: var(--purple); 
  display: inline-flex;
}

#contactUsHeading{
    padding-left: 30px;
}

#contact {
    padding-left: 30px;
}

#contact div {
    display: grid;
}

#contact #names input::placeholder, 
#contact #nums #info input::placeholder,
#contact #selects select {
    font-size: 20px;
    font-family: "Montserrat", serif;
}

#contact #names #fName, #contact #names #lName, 
#contact #nums #info input, #contact #selects select {
    border: 5px solid var(--purple);
    height: 60px;
    width: 100%;
}

#contact #names label, #contact #nums legend, 
#contact #nums label, #contact #nums #info label, 
#contact #selects label {
    padding-top: 5px;
}

#contact #nums #info input{
    margin-bottom: 15px;
    margin-top: 5px;
}

#contact #nums fieldset {
    display: grid;
    margin-bottom: 10px;
}

#contact #selects {
    display: grid;
}

#contact #selects #mySubmit {
    margin-top: 20px;
    background-color: var(--purple);
    color: var(--white);
    font-family: "Montserrat", serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Footer section */
footer {
    display: grid;
    background-color: var(--light-gray);
    font-family: "Montserrat", serif;
    color: var(--black);
    text-align: center;
    font-size: 16px;
}

footer a {
    font-family: "Montserrat", serif;
    color: var(--black);
    font-size: 16px;
    margin-top: 20px;
}

/* About section */
#about {   
        padding: 20px 20px 20px 20px;
        background-color: var(--blue); 
        display: grid;
        place-items: center;
}

#aboutYourDestinationHeading {
    background-color: var(--blue);
    font-size: 40px;
    padding-left: 30px;
    padding-top: 20px;
}

#about img {
    height: 80px;
    padding-bottom: 20px;
}

#about h4 {
    font-weight: bold;
}

#about div {
    display: grid;
    place-items: center;
    font-size: 16px;
}



/* small screen size */
@media screen and (max-width: 649px){
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.5em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
/* Majorca images (small screen) */
    #intro picture {
        max-width: 100%;
        height: auto;
    }

    #img-grid {
        display: grid;
        place-items: center;
    }
/* Navigation Menu (small screens) */
    #menuToggle input:checked ~ ul {
        display: grid;
        position: absolute;
        background-color: var(--teal);
        color: var(--black);
    }
    #menuToggle input:checked ~ ul li {
        height: 40px;
        width: 150px;
    }
    #menuToggle input:not(:checked) ~ ul {
        display: none;
    }

    nav {
        grid-column-start: 1;
        grid-column-end: -1;
        display: grid;
    }
    .navMenu {
        position: absolute; 
        top: 20px;
        right: 0;
        background-color: var(--yellow);
        width: 150px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    nav a{
        text-decoration:none;
        text-align: center;
        margin: 1rem 0;
        color: var(--black);
        font-size: 16px;
        font-weight: bold;
        border-radius: 0.25rem;
    }
    nav li {
        list-style:none;
        padding-top: 10px;
        border: 1px solid var(--black);
    }
/* Plan Yout Trip section (small screen) */
    #planYourTripHeading {
        background-color: var(--yellow);
        font-size: 40px;
        padding-left: 20px;
        padding-top: 20px;
    }
    #plan div {  
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        width: 80%;
        height: auto;
    }
    #plan a {
        text-align: center;
    }
    #plan img {
        width: 75%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* Testimonials (small screens) */
    #testimonials {
        grid-template-columns: 1fr;
    }
    #testimonials div {
        display: grid;
        place-items: center;
        text-align: center;
        max-width: 100%;
    }
    /* About section (small screens) */
    #about {   
        grid-template-columns: 1fr 1fr;
        padding: unset;
    }
}

/* medium screen size */
@media screen and (min-width: 650px){
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    /* Majorca images (medium screen) */
    #intro picture {
        height: auto;
        text-align: center;
    }
    #intro picture img {
        max-width: 100%;
    }
    #intro img {
        max-width: 45%;
        padding-left: 15px;
    }
    #img-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* Header (medium screen) */
    header {
        display: grid;   
    }
    #menuToggle input:not(:checked) ~ label {
        display: none;
    }
    .wrapper {
        display: grid;
        max-width: 940px;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        padding-top: 20px;
    }
    .logo {
        grid-column: 1;
        grid-row: 1;
    }
    .wunderlustHeading {
        grid-column: 2 / 5;
        grid-row: 1;
    }
    /* Nav menu (medium screen) */
    .navMenu {
        grid-column: 1 / 5;
        grid-row: 2;
    }
    
    nav {
        display: flex;
        grid-column-start: 1;
        grid-column-end: -1;
        justify-content: center;
    }

    nav a{
        text-decoration:none;
        text-align: center;
        margin: 1rem 0;
        color: var(--black);
        font-size: 16px;
        font-weight: bold;
        border-radius: 0.25rem;
    }
    nav li {
        list-style-type: none;
        text-align: center;
        margin: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        float: left;
        background-color: var(--white);
        width: 150px;
    }

    nav li:hover {
        background-color: var(--yellow);
    }
    /* Plan Your Trip section (medium screen) */
    #plan {
        background-color: var(--yellow);
        display: grid;
        place-items: center;
        padding-bottom: 30px;
        grid-template-columns: 1fr 1fr;
        height: 600px;
    }

    #plan div {  
        display: grid;
        place-items: center;
        background-color: var(--teal);
        margin-bottom: 10px;
        border: 5px solid var(--white);
        width: 90%;
        height: auto;
    }
    /* Testimonials section (medium screen) */
    #testimonials {
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    #testimonials div {
        display: grid;
        place-items: center;
        text-align: center;
        max-width: 50%;
    }
    /* About section (medium screen) */
    #about {   
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #contact #selects #mySubmit {
        position: relative;
        width: 30%;
        left: 70%;
}

/* large screen size */
@media screen and (min-width: 980px){
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    /* Intro section (large screen) */
    #intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 30px;
    }
    #intro picture {
        max-width: 100%;
        height: auto;
    }
    /* Header (large screen) */
    header {
        display: grid;
        padding-left: 0px;
        padding-right: 0px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        padding-top: 20px;
    }
    .logo {
        grid-column: 1;
        grid-row: 1;
        margin-left: -15px;
        width: 200px;
    }
    .wunderlustHeading {
        grid-column: 2 / 8;
        grid-row: 1;
    }
    /* Nav menu (large screen) */
    .navMenu {
        position: absolute; 
        top: 0;
        right: 0;
    }
    nav a{
        font-size: 12px;
    }
    nav li {
        margin: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        float: right;
        background-color: var(--white);
        width: 100px;

    }
    /* Plan Your Trip section (large screen) */
    #plan {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 250px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #plan div {  
        width: 200px;
        height: auto;
    }
    #plan img {
        height: 75px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* Testimonials (large screen) */
    #testimonials {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        height: 100%;
    }
    /* Contact Form (large screen) */
    #contact form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #contact #names {
        grid-column: 1 / 2;
        grid-row: 1;
        width: 90%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #contact #nums {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 1;
        width: 90%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #contact #selects {
        grid-column: 3 / 3;
        grid-row: 1;
        width: 90%;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #contact #selects #mySubmit {
        position: absolute;
        right: 0;
        width: 12%;
        margin-right: 55px;
        left: unset;
    }
}
}